<footer>
  <div class="menu">
    <div>
      <h2>Sources</h2>
      <hr />
      <ul>
        <li>Times New India</li>
        <li>Hindustan Times</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
    </div>
    <div>
      <h2>Countries</h2>
      <hr />
      <ul>
        <li>Times New India</li>
        <li>Hindustan Times</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
    </div>
    <div>
      <h2>Interval</h2>
      <hr />
      <ul>
        <li>Times New India</li>
        <li>Hindustan Times</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit.</li>
      </ul>
    </div>
  </div>
  <p>&copy;copyright 2022, CHATews PVT LTD.</p>
</footer>
