<footer>
  <div class="menu">
    <div>
      <h2>Sources</h2>
      <hr />
      <ul>
        <li><a href="">Times New India</a></li>
        <li><a href="">Hindustan Times</a></li>
        <li><a href="">The new york times</a></li>
        <li><a href="">The washington post</a></li>
      </ul>
    </div>
    <div>
      <h2>Countries</h2>
      <hr />
      <ul>
        <li><a href="">India</a></li>
        <li><a href="">USA</a></li>
        <li><a href="">United Kingdom</a></li>
        <li><a href="">Australia</a></li>
      </ul>
    </div>
    <div>
      <h2>Interval</h2>
      <hr />
      <ul>
        <li><a href="">daily</a></li>
        <li><a href="">weekly</a></li>
        <li><a href="">monthly</a></li>
        <li><a href="">quarterly</a></li>
      </ul>
    </div>
  </div>
  <p>&copy;copyright 2022, CHATews PVT LTD.</p>
</footer>
