<header>
    <div class="head">
        <img src="favicon.ico" alt="" />
        <h1>CHATews</h1>
        <!-- <input type="search" placeholder="Search news" class="search" />
    <button id="search">Search</button> -->
        <button id="login">
            <a href="/login">
                <% if(logged){ %> LogOut <% } else{ %>Login<% } %>
            </a>
        </button>
        <button id="register">
            <a href="/register" style="color: black">Register</a>
        </button>
    </div>
</header>
<nav>
    <ul class="navbar">
        <a href="/">Home</a>
        <a href="/headline">Headlines</a>
        <a href="/email">Email</a>
        <a href="/chat">Chat</a>
        <a href="/help">Help</a>
    </ul>
</nav>
